#logo-image {
  max-width: 100px;
}

#jumbotron {
  background-image: url(./hero-image.png);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  font-family: Verdana, Roboto, sans-serif;
  font-size: 1.75rem;
}

.past-event-card {
  width: 18rem;
}

.section-heading {
  text-align: center;
  margin-top: 2rem;
  font-family: Candara, Roboto, sans-serif;
  margin-bottom: 4rem;
}

.past-event-title {
  font-family: Verdana, Roboto, sans-serif;
}

.scrolling-quote {
  text-align: center;
  min-height: 120px;
}

@media (max-width: 768px) {
  .scrolling-quote {
    min-height: 180px;
  }
}

body {
  font-family: Palatino, Roboto, sans-serif;
}

#jumbotron {
  color: white;
}

.navbar-nav a {
  color: blue !important;
  font-weight: bold;
  font-size: 1em;
  font-family: Roboto, sans-serif;
}
